// Disasters USWDS theme configuration
@use "uswds-core" with (
  // GENERAL SETTINGS
  // https://designsystem.digital.gov/documentation/settings/#general-settings-2
  $theme-show-notifications: false,
  $theme-show-compile-warnings: false,
  $theme-image-path: "./img",

  // COLOR SETTINGS
  // https: //designsystem.digital.gov/documentation/settings/#color-settings-2
  $theme-color-base-family: "gray-cool",
  $theme-color-base-lightest: "gray-cool-4",
  $theme-color-base-lighter: "gray-cool-10",
  $theme-color-base-light: "gray-cool-30",
  $theme-color-base: "gray-cool-50",
  $theme-color-base-dark: "gray-cool-60",
  $theme-color-base-darker: "gray-cool-70",
  $theme-color-base-darkest: "gray-cool-80",
  $theme-color-base-ink: "gray-cool-90",

  $theme-color-primary-family: "blue-cool",
  $theme-color-primary-lightest: #e6f4f6,
  $theme-color-primary-lighter: #c3dce0,
  $theme-color-primary-light: #87bac1,
  $theme-color-primary: #0e7482,
  $theme-color-primary-vivid: #00687d,
  $theme-color-primary-dark: #0d313d,
  $theme-color-primary-darker: #0a252e,
  $theme-color-primary-darkest: #07191f,

  $theme-color-secondary-family: "magenta-vivid",
  $theme-color-secondary-lightest: #fae8f1,
  $theme-color-secondary-lighter: #f2c6db,
  $theme-color-secondary-light: #e48db7,
  $theme-color-secondary: #c91b6e,
  $theme-color-secondary-vivid: #c91b6e,
  $theme-color-secondary-dark: #971453,
  $theme-color-secondary-darker: #650e37,
  $theme-color-secondary-darkest: #32071c,

  $theme-color-accent-cool-family: "indigo-cool",
  $theme-color-accent-cool-lightest: #edf1f7,
  $theme-color-accent-cool-lighter: #d3dbeb,
  $theme-color-accent-cool-light: #a7b7d7,
  $theme-color-accent-cool: #4f6fae,
  $theme-color-accent-cool-dark: #3b5383,
  $theme-color-accent-cool-darker: #283857,
  $theme-color-accent-cool-darkest: #141c2c,

  $theme-link-color: "primary",
  $theme-link-visited-color: "primary-darker",
  $theme-link-hover-color: "cyan-60v",
  $theme-link-active-color: "primary-darker",
  $theme-link-reverse-color: "base-light",
  $theme-link-reverse-hover-color: "base-lighter",
  $theme-link-reverse-active-color: "white",

  // COMPONENT SETTINGS
  // https://designsystem.digital.gov/documentation/settings/#component-settings-2
  $theme-button-border-radius: 0,
  $theme-card-border-radius: 0,

  $theme-banner-max-width: "widescreen",
  $theme-footer-max-width: "widescreen",
  $theme-header-max-width: "widescreen",

  $theme-card-font-family: "heading",
  $theme-header-font-family: "heading",
  $theme-navigation-font-family: "heading",

  // SPACING SETTINGS
  // https://designsystem.digital.gov/documentation/settings/#spacing-settings-2
  $theme-grid-container-max-width: "widescreen",
  $theme-site-margins-breakpoint: "widescreen",
  $theme-site-margins-width: 7,
  $theme-site-margins-mobile-width: 2,

  // TYPE SETTINGS
  // https://designsystem.digital.gov/documentation/settings/#typography-settings-2
  // https://designsystem.digital.gov/design-tokens/typesetting/font-family/
  $theme-typeface-tokens: (
      "inter": (
        "display-name": "Inter Variable",
        "cap-height": 364px,
        "stack": "system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif",
      ),
      "dm-mono": (
        "display-name": "DM Mono",
        "cap-height": 364px,
        "stack": "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif",
      )
    ),
  $theme-font-path: "./fonts",
  $theme-font-type-mono: "dm-mono",
  $theme-font-type-sans: "public-sans",
  $theme-font-type-serif: "inter",

  $theme-font-role-ui: "sans",
  $theme-font-role-heading: "serif",
  $theme-font-role-body: "sans",
  $theme-font-role-code: "mono",
  $theme-font-role-alt: "serif",

  $theme-type-scale-3xs: 1,
  $theme-type-scale-2xs: 3,
  $theme-type-scale-xs: 4,
  $theme-type-scale-sm: 5,
  $theme-type-scale-md: 7,
  $theme-type-scale-lg: 9,
  $theme-type-scale-xl: 12,
  $theme-type-scale-2xl: 14,
  $theme-type-scale-3xl: 15,

  $theme-font-weight-thin: false,
  $theme-font-weight-light: 300,
  $theme-font-weight-normal: 400,
  $theme-font-weight-medium: false,
  $theme-font-weight-semibold: 600,
  $theme-font-weight-bold: 700,
  $theme-font-weight-heavy: 900,

  // UTILITY SETTINGS
  // https://designsystem.digital.gov/documentation/settings/#utilities-settings-2
  $utilities-use-important: false,
  $theme-utility-breakpoints: (
    "card": false,
    "card-lg": false,
    "mobile": true,
    "mobile-lg": false,
    "tablet": true,
    "tablet-lg": false,
    "desktop": true,
    "desktop-lg": true,
    "widescreen": true
  ),

  $overflow-settings: (responsive: true),
  $position-settings: (responsive: true),
  $top-settings: (responsive: true),
  $right-settings: (responsive: true),
  $left-settings: (responsive: true),
  $bottom-settings: (responsive: true),
  $z-index-settings: (responsive: true),
  $background-color-settings: (responsive: true),
  $font-style-settings: (responsive: true),
  $color-settings: (responsive: true, hover: true),
  $flex-direction-settings: (responsive: true),
  $flex-settings: (responsive: true),
  $order-settings: (responsive: true)
);
